<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background: rgb(168, 247, 168); font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(17, 139, 17); padding: 30px; }
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; margin-top: 200px;}
        p{font-size: 20px; text-align: center;}
        span{color: blue;}
        input[type='submit']{margin: 10px; padding: 5px; width: 100%; width: auto;}
    </style>
</head>
<body>
    <!-- <%- include('partials/nav')%> -->
    <form action="/admin-sucess" method="post">
        <input type="submit" value="go back">
    </form>
    <h1> Thank You for your feedback!</h1>
    <!-- <p>You have sucessfully replied to <span>Data.who</span>'s complaint via <span>Data.email!</span></p> -->
</body>
</html>